.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.word-conteiner {
  display: flex;
  border: 1px solid black;
  & div {
    text-transform: uppercase;
    font-size: 10vh;
    font-weight: bold;
    // border: 1px solid green;
    padding: 0 0.5rem;
  }
}
